:root {
  --color-avatar-blue-300: theme("colors.avatarback.blue.300");
  --color-avatar-blue-200: theme("colors.avatarback.blue.200");
  --color-avatar-purple-300: theme("colors.avatarback.purple.300");
  --color-outline-primary: theme("colors.primary.500");
}
